body, h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: medium;
}
#toplinks {
	width: 728px;
	text-indent: 14px;
	font-size: small;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
}
h1	{
	float: left;
	text-align: left;
	font-size: large;
	font-style: italic;
	font-weight: bold;
}
#pagenum {
	float: right;
	text-align: right;
	font-size: large;
}
#headerrule {
	clear: both;
	margin-top: 7px;
	border-top: 1px solid #000;
	margin-bottom: 16px;
}
p	{
	font-size: large;
	margin: 1.2em 0;
	text-indent: 1.3em;
}
div.chant {
	margin: 1.2em 0;
}
div.chant p {
	font-style: italic;
	margin: 0;
	text-indent: 2.3em;
}
.storypic {
	margin: 14px 0 8px;
}
.speaker {
	text-align: right;
	margin-top: 15px;
	margin-right: 10px;
}
#bottomrule {
	margin: 37px 0 17px;
	border-top: 1px solid #000;
}
#toparrow {
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
#turnthepage {
	font-weight: bold;
	padding: 0 6px;
}
#pagenav {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
}
#pagelinks {margin-top: 5px;}
#pagelinks a {
	font-family: 'Times New Roman', Times, serif;
	font-size: large;
	font-weight: bold;
}
#goto	{
	font-size: medium;
}
#curpg {
	font-family: 'Times New Roman', Times, serif;
	font-size: large;
	font-weight: bold;
	color: #f00;
}
#home	{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: medium;
	font-weight: normal;
}
#copyrightblock1 p, #copyrightblock2 p {
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
#copyright {
	margin: 43px 0 0 0;
}
#code	{
	margin: 19px 0 20px 0;
	color: #ccc;
}
