<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div padding text-right>
        <ion-icon style="zoom:1.4;" slot="end" name="finger-print" (click)="changeForm()" *ngIf="!formToView">
        </ion-icon>
        <ion-icon style="zoom:1.4;" slot="end" name="finger-print" (click)="changeFormAgain()" *ngIf="formToView">
        </ion-icon>
        <div padding text-center *ngIf="formToView">
          <ion-card justify-content-center>
            <div style="margin-top: 4.8vh" text-center>
              <h4>Admin</h4>
            </div>
            <div>
              <ion-item>
                <ion-label position="floating">ID</ion-label>
                <ion-input type="password" [(ngModel)]="adminID"></ion-input>
              </ion-item>
            </div>
            <div padding>
              <div class="space"></div>
              <ion-button (click)="signInAdmin()" expand="block">Enter</ion-button>
            </div>
          </ion-card>
        </div>
        <div text-center>
          <div *ngIf="!formToView">
            <h4>Login</h4>
          </div>
        </div>
      </div>
      <div padding *ngIf="!formToView">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="inputUser"></ion-input>
        </ion-item>
      </div>
      <div padding *ngIf="!formToView">
        <ion-button (click)="signIn()" expand="block">Login</ion-button>
        <div padding text-center>...or<button clear routerLink="/register" routerDirection="forward">register here for
            new user</button></div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>